ADB_PATH=C:\Users\Public\platform-tools\adb.exe
PORT=4173
MONIK_ANDROID_PACKAGE=com.monik.app
MONIK_TUYA_EXPORT_FILE=files/monik_tuya_devices.json
MONIK_SERVER_TOKEN_URL=
MONIK_TUYA_ACCESS_ID=monik_strato_ed25519
MONIK_TUYA_PRIVATE_KEY_PATH=/opt/monik-yandex/secure/keys/monik_strato_ed25519
MONIK_TUYA_PUBLIC_KEY_PATH=/opt/monik-yandex/secure/keys/monik_strato_ed25519.pub
